<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa khách hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body{
            background-color: #EAE9E5;
        }
        h1 {
            text-align:center;
        }
        .list{
            margin :5px;
        }
        .list button{
            background-color: white;
            border-radius: 5px;
        }
        .form-text{
            color:red;
        }
        .list {
            margin: 2% 0;
        }
        #sub{
            display:flex;
            justify-content:center;
        }
        #btn{
            margin-left: auto;
            margin-right:20px;
        }


    </style>
<body>
    <div th:insert = "header :: nav"></div>
    <div class="container-fluid">
    <h1>Chỉnh sửa khách hàng</h1>
        <div class="list">
            <button type="button" class="btn btn-light" id="btn-back">
              Quay về danh sách
            </button>
        </div>

        <form th:object="${customerDTO}" th:action ="@{/customer/update}" method="post">
            <div class="mb-3">
                <label for="customerName" class="form-label">Tên khách hàng :<span style="color:red">*</span></label>
                <input type="text"  class="form-control" id="customerName" th:field = "*{name}" aria-describedby="emailHelp">
                <div class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label for="customerPhoneNumber" class="form-label">Số điện thoại :<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="customerPhoneNumber" th:field ="*{phone}" aria-describedby="emailHelp">
                <div class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{phone}"></div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ :<span style="color:red">*</span></label>
                <input type="text" th:field="*{address}"  class="form-control" id="address" aria-describedby="emailHelp">
                <div  class="form-text" th:if="${#fields.hasErrors()}"  th:errors="*{address}"></div>
            </div>

            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{version}">
            <input type="hidden" id="page" name="page"/>
            <input type="hidden" id="nameCustomer" name="customerName">
            <input type="hidden" id="customerPhone" name="customerPhone" >

            <div class="mb-3" id="sub">
                <button type="submit" th:attr="onclick=|sendDataSearch()|" class="btn btn-light" >Chỉnh sửa nhân viên</button>
            </div>

        </form>

    </div>
</body>
<script>

    let page = localStorage.getItem("page");
    let customerName= localStorage.getItem("customerName");
    let customerPhone= localStorage.getItem("customerPhone");

    $(document).ready(function () {
        $('#btn-back').on('click',function () {
            window.location.href ='/customer/list?page='+page+'&customerName='+customerName+'&customerPhone='+customerPhone;
        });
    })

    function sendDataSearch(){
        document.getElementById("page").value = page;
        document.getElementById("nameCustomer").value = customerName;
        document.getElementById("customerPhone").value = customerPhone;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
</html>