<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trang 403</title>
<style>
	body{
		background-image: url("https://cdn.tgdd.vn/hoi-dap/1370605/Thumbnail/loi-http-error-403-forbidden-la-gi-nguyen-nhan-cach-sua.thumb.jpg");
        background-size: contain;
        background-position: center;
        width: 99%;
    	height: 43em;
	}
	.createform {
		display:flex;
		justify-content: center
	}
	button{
		height:30px;
	}
</style>
</head>
<body>
<div>

</div>
<h1 style="text-align: center;margin-top: 10%" >Bạn không có quyền truy cập vào trang này</h1>
	 <div class="createform" >
  		<button>
  			<a th:href="@{/product/list}" style="text-decoration: none;color:black">Quay về danh sách sản phẩm</a>
  		</button>
  	  </div>
</body>
</html>