<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        h1,td,th {
            text-align: center;
        }
        input{
            border-radius: 5px;
        }
        table{
            background-color: white;
        }
        body {
            background-color: #EAE9E5;
        }
        .createform {
            margin-bottom:5px;
        }
        .createform button {
            background-color:white;
            border-radius:5px;
        }
        #btn{
            margin-left: auto;
        }
        .hidden {
        	display:none;
        }
    </style>
</head>
<body>


    <div th:insert = "header :: nav"></div>
    
    <div class="container-fluid">
        <h1>Danh sách đơn hàng</h1>
        
        <div style="color: red" th:if="${message}">
        <span  th:text="${message}"></span>
        <script th:inline="javascript">           
            function myJavaScriptFunction() {
                var message = /*[[${message}]]*/ '';
                alert(message);
                
            }
                myJavaScriptFunction();
           

        </script>
    </div>
   
   <div class="form-search">
        <form th:action="@{/orders/list}" method="get" >
            <div th:if = "${roleName == 'ROLE_ADMIN'}">
            	<span>
                	Tên đăng nhập : <input type="text"  name="username" style="width:15%;margin-left: 11px" th:value="${username}" placeholder="Vui lòng nhập tên đăng nhập">
            	</span>
            </div>
            <div style="margin-top: 5px" th:if = "${roleName == 'ROLE_ADMIN'}">
            	<span>
                	Tên nhân viên : <input type="text"  name="employeeName" style="width:15%;margin-left: 18px" th:value="${employeeName}" placeholder="Vui lòng nhập tên nhân viên">
            	</span>
            </div>
             <div style="margin-top: 5px">
            	<span>
                	Mã sản phẩm  : <input type="text"  name="codeProduct" style="width:15%;margin-left: 19px" th:value="${codeProduct}" placeholder="Vui lòng nhập mã sản phẩm">
            	</span>
             </div>
            <div style="margin-top: 5px">
            	<span>
                	Tên sản phẩm  : <input type="text"  name="nameProduct" style="width:15%;margin-left: 18px" th:value="${nameProduct}" placeholder="Vui lòng nhập tên sản phẩm">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Tên khách hàng  : <input type="text"  name="customerName" style="width:15%;margin-left: 5px" th:value="${customerName}" placeholder="Vui lòng nhập tên khách hàng">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Số điện thoại : <input type="text"  name="phoneNumber" style="width:15%;margin-left: 13px" th:value="${phoneNumber}" placeholder="Vui lòng nhập số điện thoại">
            	</span>
            </div>
             <div style="margin-top: 5px">
            	<span>
                	Ngày bắt đầu  : <input type="date"  name="dateStart" style="width:8%;margin-left: 2px" th:value="${dateStart}">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Ngày kết thúc  : <input type="date"  name="dateEnd" style="width:8%;margin-left: 7px" th:value="${dateEnd}">
            	</span>
            </div>
           <div style="margin-top: 5px">
           			Trạng thái
            	<span style="margin-left: 3%">
                	 <input type="checkbox" name ="statusAllocation" th:checked = "${statusAllocation == 2 ? 'checked' : null}" value="2"  > Đã Phân bổ
            	</span>
            	<span style="padding-left: 3%">
                	 <input type="checkbox" name ="statusBooking" value="1" th:checked = "${statusBooking == 1 ? 'checked' : null}"> Đã đặt hàng
            	</span>
            </div>
            <div style="margin-top: 5px;">
                <input style="margin-bottom: 5px" type="submit" value="Search">
                <input style="margin-bottom: 5px" type="reset" value="Clear" >
            </div>
        </form>
      </div> 
      
      
      <div>
      	<table id="myTable" class="table table-hover table-bordered">
      		<tr style="background-color: grey;color: white">
   	     			<th>STT</th>
   	     			<th>NGÀY ĐẶT HÀNG</th>
   	     			<th>Mã sản phẩm</th>
   	     			<th>TÊN SẢN PHẨM</th>
   	     			<th>GIÁ BÁN</th>
   	     			<th>SỐ LƯỢNG</th>
   	     			<th>TÊN KHÁCH HÀNG</th>
   	     			<th>SỐ ĐIỆN THOẠI</th>
   	     			<th>ĐỊA CHỈ</th>
   	     			<th>TRẠNG THÁI</th>
   	     			<th>NGÀY PHÂN BỔ</th>
   	     			<th th:if = "${roleName == 'ROLE_ADMIN'}">TÊN ĐĂNG NHẬP</th>
   	     			<th th:if = "${roleName == 'ROLE_ADMIN'}">TÊN NHÂN VIÊN </th>
   	     	</tr>
   	     	<tr th:if="${ordersMap.size() > 0}" th:each="order,status:${ordersMap}" th:id="${order['id']}">
                <td th:text="${status.count + page * limit}"></td>
                <td th:text="${#temporals.format(order['dateStart'], 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td class="codeProduct"  th:contenteditable="${(order['dateAllocation'] == null)} ? 'true' : null" th:text="${order['codeProduct']}" ></td>
                <td class="nameProduct"  th:contenteditable="${(order['dateAllocation'] == null)} ? 'true' : null" th:text="${order['nameProduct']}"></td>
                <td th:text="${#numbers.formatDecimal(order['price'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td class="quantityBook" th:contenteditable="${(order['dateAllocation'] == null)} ? 'true' : null" th:text="${order['quantityBook']}" ></td>
                <td class="customerName" th:contenteditable="${(order['dateAllocation'] == null)} ? 'true' : null" th:text="${order['customerName']}"></td>
                <td class="phoneNumber"  th:contenteditable="${(order['dateAllocation'] == null)} ? 'true' : null" th:text="${order['phoneNumber']}" ></td>
                <td th:text="${order['address']}"></td>
                <td th:text="${order['statusName']}"></td>
                <td th:text="${order['dateAllocation'] != null ? #temporals.format(order['dateAllocation'], 'yyyy/MM/dd HH:mm:ss') : 'Chưa phân bổ' }"></td>
                <td th:if = "${roleName == 'ROLE_ADMIN'}" th:text="${order['username']}"></td>
                <td th:if = "${roleName == 'ROLE_ADMIN'}" th:text="${order['employeeName']}"></td>
   	     	</tr>
   	     	<tr th:each="order,status:${ordersMap}" th:id="${order['id']}" class="hidden">
                <td th:text="${status.count + page * limit}"></td>
                <td th:text="${#temporals.format(order['dateStart'], 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td class="codeProduct"  th:text="${order['codeProduct']}" ></td>
                <td class="nameProduct"  th:text="${order['nameProduct']}"></td>
                <td th:text="${#numbers.formatDecimal(order['price'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td class="quantityBook" th:text="${order['quantityBook']}" ></td>
                <td class="customerName" th:text="${order['customerName']}"></td>
                <td class="phoneNumber"  th:text="${order['phoneNumber']}" ></td>
                <td th:text="${order['address']}"></td>
                <td th:text="${order['statusName']}"></td>
                <td th:text="${order['dateAllocation'] != null ? #temporals.format(order['dateAllocation'], 'yyyy/MM/dd HH:mm:ss') : 'Chưa phân bổ' }"></td>
                <td th:if = "${roleName == 'ROLE_ADMIN'}" th:text="${order['username']}"></td>
                <td th:if = "${roleName == 'ROLE_ADMIN'}" th:text="${order['employeeName']}"></td>
   	     	</tr>
            <tr th:if="${ordersMap.size() == 0}">
                <td colspan="13">Không tìm thấy đơn hàng</td>
            </tr>
      	</table>
      	<button id= "addRow" style="border-radius: 5px">Thêm dòng mới</button>
      	 <div th:if="${ordersMap.size() > 0}">
            <nav aria-label="Page navigation example" > 
	            <ul class="pagination" style="display: flex;justify-content: center">
	            	<li th:if="${page > 0}" class="page-item" >
	            		<a class="page-link" th:href="@{/orders/list(page=${page},username=${username},employeeName=${employeeName},codeProduct=${codeProduct},nameProduct=${nameProduct},customerName=${customerName},phoneNumber=${phoneNumber},dateStart=${dateStart},dateEnd=${dateEnd},statusAllocation=${statusAllocation},statusBooking=${statusBooking})}">Previous</a>
	            	</li>
	            	<li class="page-item"  th:if="${showStartEllipsis}">
	            		<span class="page-link">...</span >
	            	</li>
	            	<th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
	            		<li class="page-item active" th:if="${pageNumber -1 == page}">
	            			 <a class="page-link "  th:text="${pageNumber}"></a>	          
	            		</li>
	            		<li class="page-item" th:if="${pageNumber -1 != page}">
	            			<a class="page-link" th:text="${pageNumber}"  th:href="@{/orders/list(page=${pageNumber},username=${username},employeeName=${employeeName},codeProduct=${codeProduct},nameProduct=${nameProduct},customerName=${customerName},phoneNumber=${phoneNumber},dateStart=${dateStart},dateEnd=${dateEnd},statusAllocation=${statusAllocation},statusBooking=${statusBooking})}" ></a>
	            		</li>
	            	</th:block>
	            	<li class="page-item"  th:if="${showEndEllipsis}">
	            		<span  class="page-link">...</span>
	            	</li>
	            	<li class="page-item" th:if="${page + 1 != totalPage }">
	            		<a class="page-link" th:href="@{/orders/list(page=${page + 2},username=${username},employeeName=${employeeName},codeProduct=${codeProduct},nameProduct=${nameProduct},customerName=${customerName},phoneNumber=${phoneNumber},dateStart=${dateStart},dateEnd=${dateEnd},statusAllocation=${statusAllocation},statusBooking=${statusBooking})}">Next</a>
	            	</li>
	            </ul>
            </nav> 
        </div>
        
        <div style="float:right">
        	<button style="border-radius: 5px" id="add"  >
        		Lưu
        	</button>
        	<button style="border-radius: 5px" id= "reset" >Reset</button>
        </div>
      </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
<script>
	$(document).ready(function () {
		let data = JSON.parse(localStorage.getItem('myArray')) || [];
		render(data);
		let temp = JSON.parse(localStorage.getItem('cellErrors')) || [];
		console.log(temp);
		if (temp.length !== 0) {

			handleCellErrors(temp);
		}

	});

	function taoIDMoi() {
		return Math.random().toString(36).substr(2, 9); // Trả về một chuỗi ngẫu nhiên
	}
	
	function compareObjectValue (oldObject, newObject){
		return oldObject.id === newObject.id && oldObject.codeProduct === newObject.codeProduct
				&& oldObject.nameProduct === newObject.nameProduct && oldObject.quantityBook === newObject.quantityBook
				&& oldObject.phoneNumber === newObject.phoneNumber && oldObject.nameCustomer === newObject.nameCustomer;
	}

	function checkChangeValue(id, rowData){
		let currentArray = JSON.parse(localStorage.getItem('myArray')) || [];
		console.log(currentArray);
		let recordHidden = $('#myTable').find('tr.hidden[id="' + id + '"]');
		let oldValue = {
			id : id,
			codeProduct: recordHidden.find('.codeProduct').text(),
			nameProduct: recordHidden.find('.nameProduct').text(),
			quantityBook: recordHidden.find('.quantityBook').text(),
			nameCustomer: recordHidden.find('.customerName').text(),
			phoneNumber: recordHidden.find('.phoneNumber').text()
		};
		console.log(oldValue);
		if (!compareObjectValue(oldValue,rowData)){
			let existingIndex = currentArray.findIndex(item => item.id === id);
			if (existingIndex !== -1) {
				currentArray[existingIndex] = rowData;
			}else {
				currentArray.push(rowData);
			}
		}else {
			let existingIndex = currentArray.findIndex(item => item.id === id);
			console.log(existingIndex);
			if (existingIndex !== -1){
				currentArray.splice(existingIndex,1)
			}
			
		}
		if (currentArray.length === 0){
			localStorage.clear();
		}else{
			localStorage.setItem('myArray', JSON.stringify(currentArray));
		}
	
		
	}
	 
	 $('#reset').on('click',function () {
		 localStorage.clear();
		 location.reload();
	 })
	
	
        $('#addRow').on('click',function () {
        	  let newRowID = taoIDMoi();
            $('#myTable').append('<tr id='+newRowID + ' >' +
                '                     <td></td>\n' +
                '                     <td></td>\n' +
                '                     <td class="codeProduct" contenteditable="true" ></td>\n' +
                '                     <td class="nameProduct" contenteditable="true"></td>\n' +
                '                     <td></td>\n' +
                '                     <td class ="quantityBook" contenteditable="true"></td>\n' +
                '                     <td class= "customerName" contenteditable="true"></td>\n' +
                '                     <td class="phoneNumber" contenteditable="true"></td>\n' +
                '                     <td ></td>\n' +
                '                     <td></td>\n' +
                '                     <td></td>\n' +
              /*   '                     <td th:if = "${roleName == \'ROLE_ADMIN\'}"></td>\n' +
                '                     <td th:if = "${roleName == \'ROLE_ADMIN\'}"></td>' + */
                '                </tr>')

        });
        
        $('#add').on('click',function (){
        	$('#myTable td').css('background-color','white')
        	let temp = localStorage.getItem('myArray') || [];
        	if(temp.length === 0){
        		alert ("Không có dữ liệu thay đổi");
        	}else {
        		$.ajax({
					type: "POST",
					contentType: "application/json",
					url: "/api/orders/save",
					data: temp,
					success : function(response){
						if (JSON.stringify(response) === "{}"){
							alert("Không có lỗi xảy ra");
							/* localStorage.clear();
							location.reload(); */
							localStorage.removeItem('cellErrors');
						}else {
							// for (let i = 0; i < response.length; i++) {
							// 	localStorage.setItem('cellErrors',JSON.stringify(response));
							// 	let map = response[i];
							// 	for (let key in map) {
							// 		let innerList = map[key];
							// 		for (let j = 0; j < innerList.length; j++) {
							// 			let value = innerList[j];
							// 			let id = key
							// 			let table = $('#myTable');
							// 			table.find('tr[id="' + id + '"]').find('td.'+value).css('background-color','red');
							// 		}
							// 	}
							//
							// }
							localStorage.setItem('cellErrors',JSON.stringify(response))
							for (let key in response){
								if (response.hasOwnProperty(key)){
									let  valueList = response[key];
									console.log(key);
									console.log(valueList);
									valueList.forEach(function (value) {
										let table = $('#myTable');
										table.find('tr[id="' + key + '"]').find('td.'+value).css('background-color','red');
									})
								}
							}
						}
					},
					error:function(xhr, status, error) {
						console.error("lỗi khi gửi dữ liệu :" + error);
					}
				})
        	}
        	
        });

        $('#myTable').on('focusout','td.codeProduct[contenteditable="true"]',function () {
        	   let codeProduct = $(this).text();
               let row = $(this).closest("tr");
               let nameProductCell = row.find("td:eq(3)");
               let valueCodeProduct = $(this);
               let table = document.getElementById("myTable");
               let lastRow = table.rows[table.rows.length - 1];
               console.log(lastRow)
               console.log(table.rows.length)
               $.ajax({
                   contentType :"application/json",
                   method : "GET",
                   url : `http://localhost:8081/api/product/getNameProduct?codeProduct=`+encodeURIComponent(codeProduct),
                   success : function(data) {
                       if (data === "") {
                           nameProductCell.text('')
                           valueCodeProduct.text('')
                       }
                       else {
                           nameProductCell.text(data)
                       }
                       let id = row.attr('id');
                       let rowData = {
                           id: id,
                           codeProduct: row.find('td:eq(2)').text(),
                           nameProduct: row.find('td:eq(3)').text(),
                           quantityBook: row.find('td:eq(5)').text(),
                           nameCustomer: row.find('td:eq(6)').text(),
                           phoneNumber: row.find('td:eq(7)').text()
                       };
						checkChangeValue(id,rowData);
                   },
                   error:function(xhr, textStatus, errorThrow){
                       console.log("Error",errorThrow)
                   }
               })
        });
         
         $('#myTable').on('focusout','td.nameProduct[contenteditable="true"]',function () {
        	  let nameProduct = $(this).text();
              let row = $(this).closest("tr");
              let codeProductCell = row.find("td:eq(2)");
              let valueNameProduct = $(this);

              $.ajax({
                  contentType :"application/json",
                  method : "GET",
                  url : `http://localhost:8081/api/product/getCodeProduct?nameProduct=`+encodeURIComponent(nameProduct),
                  success : function(data) {
                      if (data === "") {
                          codeProductCell.text('')
                          valueNameProduct.text('')
                      }
                      else {
                          codeProductCell.text(data)
                      }
                      let id = row.attr('id');
                      let rowData = {
                          id: id,
                          codeProduct: row.find('td:eq(2)').text(),
                          nameProduct: row.find('td:eq(3)').text(),
                          quantityBook: row.find('td:eq(5)').text(),
                          nameCustomer: row.find('td:eq(6)').text(),
                          phoneNumber: row.find('td:eq(7)').text()
                      };
					  checkChangeValue(id,rowData);
                  },
                  error:function(xhr, textStatus, errorThrow){
                      console.log("Error",errorThrow)
                  }
              })
        });
        
         $('#myTable').on('focusout','td.customerName[contenteditable="true"]',function () {
             let customerName = $(this).text();
             let row = $(this).closest("tr");
             let phoneNumberCell = row.find("td:eq(7)");
             let valueCurrentCustomerName = $(this);
             $.ajax({
                 contentType :"application/json",
                 method : "GET",
                 url: `http://localhost:8081/api/customer/getPhoneNumber?customerName=`+encodeURIComponent(customerName),
                 success:function (data) {
                     if (data === ""){
                         valueCurrentCustomerName.text('')
                         phoneNumberCell.text('');
                     }else {
                         phoneNumberCell.text(data);
                     }
                     let id = row.attr('id');
                     let rowData = {
                         id: id,
                         codeProduct: row.find('td:eq(2)').text(),
                         nameProduct: row.find('td:eq(3)').text(),
                         quantityBook: row.find('td:eq(5)').text(),
                         nameCustomer: row.find('td:eq(6)').text(),
                         phoneNumber: row.find('td:eq(7)').text()
                     };
					 checkChangeValue(id,rowData)
                 },
                 error:function (xhr,textStatus,errorThrow) {
                     console.log("Error",errorThrow)
                 }

             })
        });
        
        $('#myTable').on('focusout','td.phoneNumber[contenteditable="true"]',function () {
                // Thực hiện yêu cầu Ajax khi ô phoneNumber mất focus
                let phoneNumber = $(this).text();
                let row = $(this).closest("tr");
                let customerName = row.find("td:eq(6)");
                let valueCurrentPhoneNumber = $(this);
                $.ajax({
                    contentType :"application/json",
                    method : "GET",
                    url : `http://localhost:8081/api/customer/getNameCustomer?phoneNumber=`+encodeURIComponent(phoneNumber),
                    success:function (data) {
                        if (data === ""){
                            valueCurrentPhoneNumber.text('')
                            customerName.text('');
                        }else {
							customerName.text(data);
						}
                        let id = row.attr('id');
                        let rowData = {
                            id: id,
                            codeProduct: row.find('td:eq(2)').text(),
                            nameProduct: row.find('td:eq(3)').text(),
                            quantityBook: row.find('td:eq(5)').text(),
                            nameCustomer: row.find('td:eq(6)').text(),
                            phoneNumber: row.find('td:eq(7)').text()
                        };
						checkChangeValue(id,rowData);
                    },
                    error:function (xhr,textStatus,errorThrow) {
                        console.log("Error",errorThrow)
                    }

                })
            });
        
        $('#myTable').on('focusout','td.quantityBook[contenteditable="true"]',function () {
			let row = $(this).closest("tr");
			console.log(row)
			let id = row.attr('id');
			let rowData = {
				        id: id,
				        codeProduct: row.find('td:eq(2)').text(),
				        nameProduct: row.find('td:eq(3)').text(),
				        quantityBook: row.find('td:eq(5)').text(),
				        nameCustomer: row.find('td:eq(6)').text(),
				        phoneNumber: row.find('td:eq(7)').text()
				    };
			checkChangeValue(id,rowData);
		})  
        
      
		function render(data) {
			let tbody = $('#myTable');
			data.forEach(function (row) {
				if (isNaN(Number(`${row.id}`))) {
					console.log(isNaN(Number(`${row.id}`)));
					tbody.append(`<tr id=${row.id}>
									<td></td>
									<td></td>
									<td class="codeProduct" contenteditable="true">${row.codeProduct}</td>
									<td class="nameProduct" contenteditable="true">${row.nameProduct}</td>
									<td></td>
									<td class="quantityBook" contenteditable="true">${row.quantityBook}</td>
									<td class="customerName" contenteditable="true">${row.nameCustomer}</td>
									<td class="phoneNumber"  contenteditable="true">${row.phoneNumber}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								  </tr>`)
				} else {
					let id = `${row.id}`;
					tbody.find('tr[id="' + id + '"]').find('.codeProduct').text(`${row.codeProduct}`);
					tbody.find('tr[id="' + id + '"]').find('.nameProduct').text(`${row.nameProduct}`);
					tbody.find('tr[id="' + id + '"]').find('.quantityBook').text(`${row.quantityBook}`);
					tbody.find('tr[id="' + id + '"]').find('.customerName').text(`${row.nameCustomer}`);
					tbody.find('tr[id="' + id + '"]').find('.phoneNumber').text(`${row.phoneNumber}`);
				}
			})
		}

		function handleCellErrors(response) {
			// for (let i = 0; i < response.length; i++) {
			// 	let map = response[i];
			// 	for (let key in map) {
			// 		let innerList = map[key];
			// 		console.log(key);
			// 		for (let j = 0; j < innerList.length; j++) {
			// 			let value = innerList[j];
			// 			console.log(value)
			// 			let id = key
			// 			let table = $('#myTable');
			// 			table.find('tr[id="' + id + '"]').find('td.'+value).css('background-color','red');
			// 		}
			// 	}
			//
			// }
			for (let key in response){
				if (response.hasOwnProperty(key)){
					let  valueList = response[key];
					console.log(key);
					console.log(valueList);
					valueList.forEach(function (value) {
						let table = $('#myTable');
						table.find('tr[id="' + key + '"]').find('td.'+value).css('background-color','red');
					})
				}
			}
		}
</script>
</html>