<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        h1,td,th {
            text-align: center;
        }
        input{
            border-radius: 5px;
        }
        table{
            background-color: white;
        }
        body {
            background-color: #EAE9E5;
        }
        .createform {
            margin-bottom:5px;
        }
        .createform button {
            background-color:white;
            border-radius:5px;
        }
        #btn{
            margin-left: auto;
        }
    </style>
</head>
<body>


    <div th:insert = "header :: nav"></div>
    
    <div class="container-fluid">
        <h1>Danh sách đơn hàng</h1>
        
        <div style="color: red" th:if="${message}">
        <span  th:text="${message}"></span>
        <script th:inline="javascript">           
            function myJavaScriptFunction() {
                var message = /*[[${message}]]*/ '';
                alert(message);
                
            }
                myJavaScriptFunction();
           

        </script>
    </div>
   
   <div class="form-search">
        <form th:action="@{/orders/list}" method="get" >
            <div>
            	<span>
                	Tên đăng nhập : <input type="text"  name="username" style="width:15%;margin-left: 11px" th:value="${username}" placeholder="Vui lòng nhập tên đăng nhập">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Tên nhân viên : <input type="text"  name="employeeName" style="width:15%;margin-left: 18px" th:value="${employeeName}" placeholder="Vui lòng nhập tên nhân viên">
            	</span>
            </div>
             <div style="margin-top: 5px">
            	<span>
                	Mã sản phẩm  : <input type="text"  name="codeProduct" style="width:15%;margin-left: 19px" th:value="${codeProduct}" placeholder="Vui lòng nhập mã sản phẩm">
            	</span>
             </div>
            <div style="margin-top: 5px">
            	<span>
                	Tên sản phẩm  : <input type="text"  name="nameProduct" style="width:15%;margin-left: 18px" th:value="${nameProduct}" placeholder="Vui lòng nhập tên sản phẩm">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Tên khách hàng  : <input type="text"  name="customerName" style="width:15%;margin-left: 5px" th:value="${customerName}" placeholder="Vui lòng nhập tên khách hàng">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Số điện thoại : <input type="text"  name="phoneNumber" style="width:15%;margin-left: 13px" th:value="${phoneNumber}" placeholder="Vui lòng nhập số điện thoại">
            	</span>
            </div>
             <div style="margin-top: 5px">
            	<span>
                	Ngày bắt đầu  : <input type="date"  name="dateStart" style="width:8%;margin-left: 2px" th:value="${dateStart}">
            	</span>
            </div>
            <div style="margin-top: 5px">
            	<span>
                	Ngày kết thúc  : <input type="date"  name="dateEnd" style="width:8%;margin-left: 7px" th:value="${dateEnd}">
            	</span>
            </div>
           <div style="margin-top: 5px">
           			Trạng thái
            	<span style="margin-left: 3%">
                	 <input type="checkbox" name ="statusId"  th:value="${dateEnd}"> Đã Phân bổ
            	</span>
            	<span style="padding-left: 3%">
                	 <input type="checkbox" name ="statusId" th:value="${dateEnd}"> Đã đặt hàng
            	</span>
            </div>
            <div style="margin-top: 5px;">
                <input style="margin-bottom: 5px" type="submit" value="Search">
                <input style="margin-bottom: 5px" type="reset" value="Clear" >
            </div>
        </form>
      </div> 
      
      
      <div>
      	<table class="table table-hover table-bordered">
      		<tr style="background-color: grey;color: white">
   	     			<th>STT</th>
   	     			<th>NGÀY ĐẶT HÀNG</th>
   	     			<th>Mã sản phẩm</th>
   	     			<th>TÊN SẢN PHẨM</th>
   	     			<th>GIÁ BÁN</th>
   	     			<th>SỐ LƯỢNG</th>
   	     			<th>TÊN KHÁCH HÀNG</th>
   	     			<th>SỐ ĐIỆN THOẠI</th>
   	     			<th>ĐỊA CHỈ</th>
   	     			<th>TRẠNG THÁI</th>
   	     			<th>NGÀY PHÂN BỔ</th>
   	     			<th>TÊN ĐĂNG NHẬP</th>
   	     			<th>TÊN NHÂN VIÊN </th>
   	     	</tr>
   	     	<tr th:if="${ordersMap.size() > 0}" th:each="order,status:${ordersMap}">
                <td th:text="${status.count + page * limit}"></td>
                <td th:text="${#temporals.format(order['dateStart'], 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td class="codeProduct" contenteditable="true"  th:text="${order['codeProduct']}"></td>
                <td class="nameProduct" contenteditable="true" th:text="${order['nameProduct']}"></td>
                <td th:text="${#numbers.formatDecimal(order['price'], 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td th:text="${order['quantityBook']}"></td>
                <td contenteditable="true" th:text="${order['customerName']}"></td>
                <td contenteditable="true" th:text="${order['phoneNumber']}"></td>
                <td th:text="${order['address']}"></td>
                <td th:text="${order['statusName']}"></td>
                <td th:text="${order['dateAllocation'] != null ? #temporals.format(order['dateAllocation'], 'yyyy/MM/dd HH:mm:ss') : 'Chưa phân bổ' }"></td>
                <td th:text="${order['username']}"></td>
                <td th:text="${order['employeeName']}"></td>


   	     	</tr>
            <tr th:if="${ordersMap.size() == 0}">
                <td colspan="13">Không tìm thấy đơn hàng</td>
            </tr>
      	</table>
      </div>
      
        
        <label for="name">
            <input type="text" id="name" name="name" th:attr="onblur='autofillPhoneNumber()'">
        </label>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:attr="onblur='autofillNameCustomer()'">
        <table id="myTable">

        
        <label for="nameProduct">
        	<input type="text" id="nameProduct" name="nameProduct" th:attr="onblur='autofillCodeProduct()'">
        </label>
        <label for="codeProduct">
        	<input type="text" id="codeProduct" name="codeProduct" th:attr="onblur='autofillNameProduct()'">
        </label>
        
        

        
            <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="input-data" oninput="addRowIfNeeded(this)" value="adad"></td>
                <td><input type="text" class="input-data" oninput="addRowIfNeeded(this)" value="adadad"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script>

    $(document).ready(function () {
        $("td.codeProduct[contenteditable=true]").focusout(function () {
            let codeProduct = $(this).text();
            let row = $(this).closest("tr");
            let nameProductCell = row.find("td:eq(3)");
            let valueCodeProduct = $(this);

            $.ajax({
                contentType :"application/json",
                method : "GET",
                url : `http://localhost:8081/api/product/getNameProduct?codeProduct=`+encodeURIComponent(codeProduct),
                success : function(data) {
                    console.log(data)
                    if (data === "") {
                        alert("Không tồn tại sản phẩm")
                        nameProductCell.text('')
                       valueCodeProduct.text('')
                    }
                    else {
                        nameProductCell.text(data)
                    }
                },
                error:function(xhr, textStatus, errorThrow){
                    console.log("Error",errorThrow)
                }
            })

        })
    });

    $(document).ready(function () {
        $("td.nameProduct[contenteditable=true]").focusout(function () {
            let nameProduct = $(this).text();
            let row = $(this).closest("tr");
            let codeProductCell = row.find("td:eq(2)");
            let valueNameProduct = $(this);

            $.ajax({
                contentType :"application/json",
                method : "GET",
                url : `http://localhost:8081/api/product/getCodeProduct?nameProduct=`+encodeURIComponent(nameProduct),
                success : function(data) {
                    console.log(data)
                    if (data === "") {
                        alert("Không tồn tại sản phẩm")
                        codeProductCell.text('')
                        valueNameProduct.text('')
                    }
                    else {
                        codeProductCell.text(data)
                    }
                },
                error:function(xhr, textStatus, errorThrow){
                    console.log("Error",errorThrow)
                }
            })

        })
    })


    function addRowIfNeeded(input) {
        var table = document.getElementById("myTable");
        var lastRow = table.rows[table.rows.length - 1];
        var inputs = lastRow.getElementsByTagName("input");
        var shouldAddRow = true;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value === "") {
                shouldAddRow = false;
                break;
            }
        }
        console.log(shouldAddRow)
        if (shouldAddRow) {
            var newRow = table.insertRow(table.rows.length);
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            cell1.innerHTML = "<input type='text' class='input-data' oninput='addRowIfNeeded(this)'>";
            cell2.innerHTML = "<input type='text' class='input-data' oninput='addRowIfNeeded(this)'>";
        }
    }
</script>
<script th:inline="javascript">
    function autofillPhoneNumber() {
        let nameInput = $('#name').val();
        $.ajax({
            contentType:"application/json",
            method:"GET",
            url: `http://localhost:8081/api/customer/getPhoneNumber?customerName=`+encodeURIComponent(nameInput),
            success:function (data) {
            	console.log(data)
                if (data === ""){
                    alert("Không tồn tại khách hàng")
                    $('#name').val('');
                    $('#phoneNumber').val('')
                }else{
                	 $('#phoneNumber').val(data)
                }
            },
            error:function (xhr,textStatus,errorThrow) {
                console.log("Error",errorThrow)
            }
        })

    }
    function autofillNameCustomer() {
    	let phoneNumber = $('#phoneNumber').val();
    	$.ajax({
    		contentType :"application/json",
    		method : "GET",
    		url : `http://localhost:8081/api/customer/getNameCustomer?phoneNumber=`+encodeURIComponent(phoneNumber),
    		success:function(data) {
    			console.log(data)
    			if (data === "") {
    				alert("Không tồn tại khách hàng")
    				$('#name').val('');
    				$('#phoneNumber').val('');
    			}else{
    				$('#name').val(data)
    			}
    		},
    		error:function(xhr, textStatus, errorThrow){
    			console.log("Error",errorThrow)
    		}
    	})
    }
    
   function autofillCodeProduct(){
	   let nameProduct = $('#nameProduct').val();
	   $.ajax({
		    contentType :"application/json",
   			method : "GET",
   			url : `http://localhost:8081/api/product/getCodeProduct?nameProduct=`+encodeURIComponent(nameProduct),
   			success : function(data) {
   				console.log(data)
   				if (data === "") {
   					alert("Không tồn tại sản phẩm")
   					$('#nameProduct').val('');
   					$('#codeProduct').val('')
   				
   				}else {
   					$('#codeProduct').val(data)
   				}
   			},
   			error:function(xhr, textStatus, errorThrow){
    			console.log("Error",errorThrow)
    		}
	   })
   }
   
   function autofillNameProduct(){
	   let codeProduct = $('#codeProduct').val();
	   $.ajax({
		   contentType :"application/json",
   			method : "GET",
   			url : `http://localhost:8081/api/product/getNameProduct?codeProduct=`+encodeURIComponent(codeProduct),
   			success : function(data) {
   				console.log(data)
   				if (data === "") {
   					alert("Không tồn tại sản phẩm")
   					$('#nameProduct').val('');
   					$('#codeProduct').val('')
   				
   				}else {
   					$('#nameProduct').val(data)
   				}
   			},
   			error:function(xhr, textStatus, errorThrow){
    			console.log("Error",errorThrow)
    		}
	   })
   }

    
</script>
</html>