<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springmvc.repository.RoleMapper">
	<select id="getRoleById" resultType="com.example.springmvc.model.Role">
		<![CDATA[
			SELECT
				name
			from 
				roles
			where
				role_id = #{id}
		]]>
	</select>
</mapper>