<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sach san pham</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        h1,td,th {
            text-align: center;
        }
        input{
            border-radius: 5px;
        }
        table{
            background-color: white;
        }
        body {
            background-color: #EAE9E5;
        }
        .createform {
        	margin-bottom:5px;
        }
        .createform button {
        	background-color:white;
        	border-radius:5px;
        }
       #btn{
       		margin-left: auto;
       		margin-right:20px;
       }
        
       
    </style>
</head>
<body>
 
  <div th:insert="header :: nav"></div>
  
  <div class="container-fluid">
    <h1>Danh sách sản phẩm</h1>
   
    <div style="color: red" th:if="${message}">
        <span id ="test" th:text="${message}"></span>
        <script th:inline="javascript">           
            function myJavaScriptFunction() {
                var message = /*[[${message}]]*/ '';
                alert(message);
                
            }
                myJavaScriptFunction();
           

        </script>
    </div>
    
  	<div class="createform">
  		<button th:attr ="onclick=|saveDataInLocalStorage(${page},'${nameProduct}','${codeProduct}')|">
  			<a th:href="@{/product/showform}" style="text-decoration: none;color:black">Thêm mới sản phẩm</a>
  		</button>
  	</div>
    	
    <div class="form-search">
        <form th:action="@{/product/list}" method="get" >
            <div>
            <span>
                Mã sản phẩm : <input type="text"  name="codeProduct" style="width:14%;" th:value="${codeProduct}" placeholder="Vui lòng nhập mã sản phẩm">
            </span>
            </div>
            <div style="margin-top: 5px">
            <span>
                 Tên sản phẩm: <input type="text"  name="nameProduct" style="width:14%;margin-left:3px" th:value="${nameProduct}" placeholder="Vui lòng nhập tên sản phẩm">
            </span>
            </div>
            <div style="margin-top: 5px;">
                <input style="margin-bottom: 5px" type="submit" value="Search">
                <input style="margin-bottom: 5px" type="reset" value="Clear" >
            </div>
        </form>
    </div>
   
   	<div>
   		<table class="table table-hover table-bordered">
            <tr style="background-color: grey;color: white">
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Tồn Kho</th>
                <th>Giá bán ra</th>
                <th th:if="${isAdmin}">Giá mua vào</th>
                <th th:if="${isAdmin}" colspan ="2" >Hành động</th>
        
            </tr>
            <tr th:if="${productList.size() > 0  }" th:each="product,status:${productList}">
                <td th:text="${status.count  + page  * limit}"></td>
                <td th:text="${product.codeProduct}"></td>
                <td th:text="${product.nameProduct}"></td>
                <td th:text="${product.inventory}"></td>
                <td th:text="${#numbers.formatDecimal(product.priceSell, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                <td th:if="${isAdmin == true}" th:text="${#numbers.formatDecimal(product.priceBuy, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                
                <td th:if="${isAdmin == true}" style="width:10%">
  					<button type="button" class="btn btn-outline-warning" th:attr ="onclick=|saveDataInLocalStorage(${page},'${nameProduct}','${codeProduct}')|">
  						<a th:href="@{/product/showformedit/{id}(id=${product.id})}" style="text-decoration: none;color:black">Chỉnh sửa</a>
  					</button>
                </td>
                <td th:if="${isAdmin == true}">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr ="onclick=|sendData(${product.id},'${product.nameProduct}')|">
  						Xóa
					</button>
                </td>
                 
            </tr>
            <tr th:if = "${productList.size() == 0 }">
            	<!-- <td th:if="${isAdmin == true}" colspan="8">Không tìm thấy sản phẩm</td>
            	<td th:if="${isAdmin != true}" colspan="5">Không tìm thấy sản phẩm</td> -->
            	<td th:colspan ="${isAdmin ? 8 : 5}">Không tìm thấy sản phẩm</td>
            </tr>
        </table>
        
        <div th:if="${productList.size() > 0 }">
            <nav aria-label="Page navigation example" > 
	            <ul class="pagination" style="display: flex;justify-content: center">
	            	<li th:if="${page > 0}" class="page-item" >
	            		<a class="page-link" th:href="@{/product/list(page=${page},codeProduct=${codeProduct},nameProduct=${nameProduct})}">Previous</a>
	            	</li>
	            	<li class="page-item"  th:if="${showStartEllipsis}">
	            		<span class="page-link">...</span >
	            	</li>
	            	<th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
	            		<li class="page-item active" th:if="${pageNumber -1 == page}">
	            			 <a class="page-link "  th:text="${pageNumber}"></a>	          
	            		</li>
	            		<li class="page-item" th:if="${pageNumber -1 != page}">
	            			<a class="page-link " th:href="@{/product/list(page=${pageNumber},codeProduct=${codeProduct},nameProduct=${nameProduct})}" th:text="${pageNumber}" ></a>
	            		</li>
	            	</th:block>
	            	<li class="page-item"  th:if="${showEndEllipsis}">
	            		<span  class="page-link">...</span>
	            	</li>
	            	<li class="page-item" th:if="${page + 1 != totalPage }">
	            		<a class="page-link" th:href="@{/product/list(page=${page+2},codeProduct=${codeProduct},nameProduct=${nameProduct})}">Next</a>
	            	</li>
	            </ul>
   
            </nav> 
          
         
        </div>
   </div>
        

</div>
<!-- modal xóa -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form th:action ="@{/product/delete}" method= "post">
       <div class="modal-body">
	      Bạn có muốn xóa sản phẩm : <span id="name" style="color:red"></span>?
	   	<input type="hidden" id="id" name="idDelete">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-outline-warning">Xóa</button>
      </div>
       </form>
    </div>
  </div>
</div>

<script>
	function sendData(id,name){
		document.getElementById("id").value = id;
		document.getElementById("name").innerText = name;
		console.log(id,name)
	}

    function saveDataInLocalStorage(page,nameProduct,codeProduct) {
        localStorage.setItem("page",page+1);
        localStorage.setItem("nameProduct",nameProduct);
        localStorage.setItem("codeProduct",codeProduct);
    }

    window.onload=function (){
        localStorage.clear();
    }
</script>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>
</html>