<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Chỉnh sửa sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<style>
		body{
			background-color: #EAE9E5;
		}
		h1 {
			text-align:center;
		}
		.list{
			margin :5px;
		}
		.list button{
			background-color: white;
			border-radius: 5px;
		}
		.form-text{
			color:red;
		}
		.list {
			margin: 2% 0;
		}
		#sub{
    		display:flex;
    		justify-content:center;		
    	}
    	
		
	</style>
</head>
<body>
  <div class="container">
	<h1>Chỉnh sửa sản phẩm</h1>
		
	<div class="list">
  		<button type="button" class="btn btn-light">
  			<a id="link" th:href="@{/product/list}" style="text-decoration: none;color:black">Quay về danh sách</a>
  		</button>
  	</div>
  		<form th:object="${productDTO}" th:action ="@{/product/edit}" method="post">
  			 <div class="mb-3">
   				 <label for="codeProduct" class="form-label">Mã sản phẩm</label>
   			     <input type="text" th:field="*{codeProduct}" class="form-control" id="codeProduct" aria-describedby="emailHelp">
    			 <div class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{codeProduct}"></div>
  			 </div>
  			 <div class="mb-3">
  	 			  <label for="nameProduct" class="form-label">Tên sản phẩm</label>
   			     <input type="text" th:field="*{nameProduct}" class="form-control"  id="nameProduct" aria-describedby="emailHelp">
    			 <div class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{nameProduct}"></div>
  			 </div>
  			 <div class="mb-3">
  	 			  <label for="priceSell" class="form-label">Giá bán</label>
   			     <input type="number" th:field="*{priceSell}" class="form-control" id="priceSell"  aria-describedby="emailHelp">
    			 <div  class="form-text" th:if="${#fields.hasErrors()}"  th:errors="*{priceSell}"></div>
  			 </div>
  			 <div class="mb-3">
  	 			  <label for="priceBuy" class="form-label">Giá mua</label>
   			     <input type="number" th:field="*{priceBuy}" class="form-control" id="priceBuy"  aria-describedby="emailHelp">
    			 <div  class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{priceBuy}" ></div>
  			 </div>
  			 <div class="mb-3">
  	 			  <label for="inventory" class="form-label">Số lượng tồn kho</label>
   			     <input type="number" th:field="*{inventory}" class="form-control" id="inventory" aria-describedby="emailHelp">
    			 <div class="form-text" th:if="${#fields.hasErrors()}" th:errors="*{inventory}"></div>
  			 </div>
			<input type ="hidden" th:field ="*{id}" class="form-control" >
			<input type ="hidden" th:field ="*{version}" class="form-control" >
			<input type="hidden" id="page" name="page"/>
			<input type="hidden" id="nameSearch" name="nameSearch">
			<input type="hidden" id="codeSearch" name="codeSearch">

  			 <div class="mb-3" id="sub">
  			  	<button type="submit" th:attr="onclick=|sendDataSearch()|" class="btn btn-light" >Chỉnh sửa sản phẩm</button>
  			 </div>
		</form>   
  	</div>  
 

</body>
<script>
	let link = document.getElementById("link")
	let page = localStorage.getItem("page");
	let nameProduct = localStorage.getItem("nameProduct");
	let codeProduct = localStorage.getItem("codeProduct");


	link.href = '/product/list?page='+(page)+'&nameProduct='+nameProduct+'&codeProduct=' + codeProduct;

 	function sendDataSearch() {
		document.getElementById("page").value = page;
		document.getElementById("nameSearch").value = nameProduct;
		document.getElementById("codeSearch").value = codeProduct;
} 
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
</script>

</html>